:root {
    --main-text-color: lightblue;
    --bg-color: black;
    --minor-text-color: black;

}

body {
    font-size: normal;
    display: flex;
    justify-content: flex-start;
    color: var(--main-text-color);
    background-color: var(--bg-color);
}

header h1{
    font-size: 300%;
    text-align: center;
    margin: 40px;
}

footer {
    color: var(--minor-text-color);
    background-color: lightblue;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.small-snippet-title {
    border-style: solid;
    padding: 20px;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {

}