:root {
    --main-text-color: lightblue;
    --bg-color: black;
    --minor-text-color: black;
}

* {
    box-sizing: border-box; /* important for flex boxes */
}

body {
    display: flex;
    flex-direction: column;
    font-size: normal;
    color: var(--main-text-color);
    background-color: var(--bg-color);
    text-align: center;
}

header h1 {
    font-size: 300%;
    margin-top: 40px;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 20px;
}

header p {
    margin: 20px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.snippet {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    margin: 10px;
    width: 25%;
}

section h2 {
    font-size: 250%;
    border-style: outset;
    border-width: 1px;
    margin: 20px;
    transition: color 2s, background-color 2s ease-in-out; /* stores a transition, where the color changes gradually across 2 seconds with a slow start and slow end */
}

section h2:hover { /* swaps the colors of the h2 headings upon hovering the mouse */
    background-color: var(--main-text-color);
    color: var(--bg-color);
}

section pre { 
    user-select: all;
    font-family: monospace;
    text-align: left;
    margin: 20px;
    white-space: pre-wrap; /* whitespace is preserved by the browser, and text wraps when necessary and on line breals */
    color: var(--minor-text-color);
    background-image: linear-gradient(to bottom,#FFA5FF,#371737); /* gradient travels from first to second color, downwards */
}

footer {
    color: var(--minor-text-color);
    background-color: lightblue;
    margin-top: auto;
    width: 100%;
    align-items: center;
}

@media screen and (max-width: 992px) {
    .snippet {
       width: 45%;
    }
}

@media screen and (max-width: 768px) {
    .snippet {
       width: 90%;
    }
}