:root {
    --main-text-color: lightblue;
    --bg-color: black;
    --minor-text-color: black;

}

* {
    box-sizing: border-box;
}

body {
    font-size: normal;
    color: var(--main-text-color);
    background-color: var(--bg-color);
}

main {
    display: flex;
    flex-wrap: wrap;
   /* flex-direction: row; */
    justify-content: space-evenly;
}

header h1 {
    font-size: 300%;
    text-align: center;
    margin: 40px;
}

header p {
    text-align: center;
}

footer {
    color: var(--minor-text-color);
    background-color: lightblue;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

section {
    display: block;
}

.snippet {
    border-style: solid;
    padding: 40px;
}

section pre {
    font-family: monospace;
}

@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
    }
}